<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105407422339-356ih30gjsd1k5epb2mog5ok9k76ibpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105407422339-356ih30gjsd1k5epb2mog5ok9k76ibpe</string>
	<key>API_KEY</key>
	<string>AIzaSyAewLigYtSN1S-OyseRfBPYO5uQiMxxKUs</string>
	<key>GCM_SENDER_ID</key>
	<string>105407422339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ch1.caballerosApp</string>
	<key>PROJECT_ID</key>
	<string>caballeros-4627c</string>
	<key>STORAGE_BUCKET</key>
	<string>caballeros-4627c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105407422339:ios:be077890b789bdda1da0b6</string>
	<key>DATABASE_URL</key>
	<string>https://caballeros-4627c.firebaseio.com</string>
</dict>
</plist>